<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'Server Error'}) %>
  <body>
    <%- include('../partials/header', {title: 'Server Error', parentLinks: []}) %>
    <div id="main-search-page">
      <div class="main-item">
        <div class="tagline">
          <h1>Uh oh, that's a 500.</h1>
          <p>Perhaps you'd like to search for something instead?</p>
        </div>
        <%- include('../partials/search', {style: 'homepage'}) %>
      </div>

      <%- include('../partials/footer', {style: 'homepage'}) %>
    </div>

  </body>
</html>
