@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0; }

pre {
  white-space: pre-wrap; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin-top: 45px;
  margin-bottom: 20px; }

a {
  color: #0095ff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    outline: 0; }

input {
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  width: 100%; }

th, td {
  padding: 0.25rem 0.5rem;
  text-align: left;
  border: 1px solid #ccc; }
  th p, td p {
    margin: 0; }

button:focus {
  outline: 0; }

.legibility {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern"; }

.visually-hidden {
  display: none; }

.button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border-radius: 3px;
  transition: background-color 0.3s;
  display: inline-block;
  padding: 4px 8px 6px 8px;
  border: 1px solid #000;
  color: #000;
  cursor: pointer; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .button {
      font-size: 15px;
      line-height: 20px;
      padding: 5px 10px; } }
  @media (min-width: 1024px) {
    .button {
      font-size: 15px;
      line-height: 20px;
      padding: 5px 10px; } }

.button.btn-cat {
  background: #fff;
  border-radius: 0;
  margin: 4px 0 0 0;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .button.btn-cat {
      margin: 3px 0 0 0; } }
  @media (min-width: 1024px) {
    .button.btn-cat {
      margin: 3px 0 0 0; } }
  .button.btn-cat:hover {
    cursor: pointer;
    background: #0095ff;
    color: #000;
    text-decoration: none; }

.button.btn-homepage {
  margin: 10px 0 0 0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  color: #aaa;
  -webkit-box-shadow: 2.5px 2.5px 0px -1px #0068b3;
  -moz-box-shadow: 2.5px 2.5px 0px -1px #0068b3;
  box-shadow: 2.5px 2.5px 0px -1px #0068b3;
  padding: 5px 12px; }
  .button.btn-homepage:hover {
    background: #0095ff;
    color: #fff;
    -webkit-box-shadow: 3px 3px 0px 0px #444;
    -moz-box-shadow: 3px 3px 0px 0px #444;
    box-shadow: 3px 3px 0px 0px #444;
    text-decoration: none; }

.button.btn-footer {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  transition: background-color 0.3s;
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid #999;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 5px 5px 0px 0px #ececec;
  -moz-box-shadow: 5px 5px 0px 0px #ececec;
  box-shadow: 5px 5px 0px 0px #ececec;
  margin-right: 10px;
  color: #333;
  margin-top: 10px; }
  .button.btn-footer:hover {
    background: #333;
    color: #fff; }

.button.btn-plaintext {
  border: none;
  text-decoration: underline;
  background: transparent;
  color: #999;
  font-size: 13px;
  line-height: 29px; }
  .button.btn-plaintext:hover {
    cursor: pointer;
    color: #0095ff; }

.masthead {
  position: fixed;
  background: #222;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000000090;
  color: #ccc; }
  .masthead .container {
    position: relative;
    min-height: 49px; }
    .masthead .container .branding {
      padding-top: 3px;
      margin-bottom: 0px;
      background: transparent;
      float: left; }
      .masthead .container .branding .branding-heading {
        margin-top: 7px;
        left: 20px;
        position: absolute; }
        .masthead .container .branding .branding-heading .logo {
          height: 23px;
          filter: invert(100%) brightness(80%);
          margin-left: -5px; }
      .masthead .container .branding .branding-label {
        margin: 5px auto auto 62px;
        display: inline-block;
        height: 28px;
        padding: 4px 0 0 15px;
        vertical-align: top;
        border-left: 1px solid rgba(255, 255, 255, 0.35);
        color: #000;
        font-family: "Alfa Slab One", cursive;
        font-size: 18px;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        font-weight: 100;
        line-height: 26px; }
        .masthead .container .branding .branding-label a:link, .masthead .container .branding .branding-label a:visited {
          color: #ccc; }
        .masthead .container .branding .branding-label a:hover {
          color: #0095ff;
          cursor: pointer;
          text-decoration: none; }
    .masthead .container .user-tools {
      text-align: right;
      right: 10px;
      float: none;
      position: fixed;
      top: 9px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .masthead .container .user-tools {
          right: 20px; } }
      @media (min-width: 1024px) {
        .masthead .container .user-tools {
          right: 20px; } }

.breadcrumb {
  padding-left: 8px;
  float: left;
  margin: 15px 0;
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .breadcrumb {
      display: block; } }
  @media (min-width: 1024px) {
    .breadcrumb {
      display: block; } }

.breadcrumb-item {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 17px; }
  .breadcrumb-item a:hover {
    text-decoration: underline;
    outline: 0; }
  .breadcrumb-item a:visited {
    color: #80caff; }
  .breadcrumb-item a:link {
    text-decoration: none;
    color: #80caff; }

.search-container {
  vertical-align: middle;
  white-space: nowrap; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .search-container {
      width: calc(100% - 20px); } }
  @media (min-width: 1024px) {
    .search-container {
      width: calc(100% - 20px); } }
  .search-container .tt-menu {
    background-color: inherit;
    border-color: #999;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    width: 100%;
    left: -1px !important; }
  .search-container .tt-suggestion {
    padding: 10px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer; }
    .search-container .tt-suggestion:hover {
      background-color: #80caff; }
  .search-container .tt-cursor {
    background-color: #80caff; }
  .search-container .twitter-typeahead {
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    position: relative;
    width: calc(100% - 65px);
    height: 50px;
    transition: background-color 0.3s;
    display: inline-block;
    border: 1px solid #999;
    background: #fff;
    -webkit-box-shadow: 5px 5px 0px 0px #444;
    -moz-box-shadow: 5px 5px 0px 0px #444;
    box-shadow: 5px 5px 0px 0px #444;
    color: #000;
    float: left;
    width: calc(100% - 20px);
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
    padding-left: 15px;
    -webkit-font-smoothing: antialiased; }
    .search-container .twitter-typeahead:hover, .search-container .twitter-typeahead:focus, .search-container .twitter-typeahead:active {
      outline: none;
      background: #FCF6F6; }
    .search-container .twitter-typeahead .tt-hint {
      color: #666;
      background-color: transparent !important;
      outline: none;
      border: none;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased; }
    .search-container .twitter-typeahead .twitter-typeahead.tt-input {
      box-shadow: none;
      border: none;
      padding-left: 0; }
  .search-container .icon {
    position: relative;
    z-index: 10;
    border: none;
    background: #0095ff;
    height: 50px;
    width: 50px;
    top: 1px;
    right: 1px;
    color: #fff;
    opacity: 1;
    font-size: 12pt;
    cursor: pointer;
    margin-left: -50px;
    -webkit-transition: opacity .35s ease;
    -moz-transition: opacity .35s ease;
    -ms-transition: opacity .35s ease;
    -o-transition: opacity .35s ease;
    transition: opacity .35s ease; }
  .search-container:hover .icon:hover {
    background: #0095ff; }
  .search-container input::-webkit-input-placeholder,
  .search-container input:-moz-placeholder,
  .search-container input:-ms-input-placeholder {
    color: #aaa; }
  .search-container input:focus::-webkit-input-placeholder,
  .search-container input:focus:-moz-placeholder,
  .search-container input:focus:-ms-input-placeholder {
    opacity: 0; }

.additional-menus {
  clear: both;
  margin-top: 5px;
  display: flex;
  justify-content: space-between; }

#user-profile a.btn-user-whole:link, #user-profile a.btn-user-whole:visited {
  color: #ccc;
  font-size: 15px;
  letter-spacing: 0.25px;
  padding: 17px 15px 16px 15px; }

#user-profile a.btn-user-whole:hover, #user-profile a.btn-user-whole:active, #user-profile a.btn-user-whole:target {
  text-decoration: none;
  background: gray; }
  #user-profile a.btn-user-whole:hover button.btn-user-initial, #user-profile a.btn-user-whole:active button.btn-user-initial, #user-profile a.btn-user-whole:target button.btn-user-initial {
    background: #000;
    color: #ccc;
    border-color: #666; }

#user-profile .user-fullname {
  margin-right: 5px;
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #user-profile .user-fullname {
      display: inline-block; } }
  @media (min-width: 1024px) {
    #user-profile .user-fullname {
      display: inline-block; } }

#user-profile button.btn-user-initial {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-indent: -1px;
  background: #ccc;
  color: #666;
  margin-right: 5px;
  line-height: 0px;
  text-align: center;
  border-color: #f3f3f3;
  padding: 0; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
  text-align: left; }
  .overlay .cancel {
    position: fixed;
    width: 100vw;
    height: 100vh;
    cursor: default;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .overlay:target {
    visibility: visible;
    opacity: 1; }

.popup {
  margin-top: 40px;
  padding: 0 20px 5px 20px;
  background-image: linear-gradient(215deg, #fff 0%, #ececec 100%);
  border: 1px solid #d4d4d4;
  width: 260px;
  float: right;
  position: relative; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .popup {
      width: 300px;
      padding: 20px; } }
  @media (min-width: 1024px) {
    .popup {
      width: 300px;
      padding: 20px; } }
  .popup .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666; }
    .popup .close:hover {
      opacity: 1; }
  .popup h3 {
    margin: 10px auto 0px auto;
    color: #333;
    border-bottom: 2px solid #333;
    font-size: 16px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .popup h3 {
        margin: 10px auto;
        line-height: 32px; } }
    @media (min-width: 1024px) {
      .popup h3 {
        margin: 10px auto;
        line-height: 32px; } }
  .popup ul.recently-viewed-content, .popup ul.most-viewed-content {
    margin: 0;
    padding: 0;
    list-style: none; }
    .popup ul.recently-viewed-content li, .popup ul.most-viewed-content li {
      margin: 0px 0 5px 0;
      font-size: 15px; }
      .popup ul.recently-viewed-content li a, .popup ul.most-viewed-content li a {
        color: #333; }
        .popup ul.recently-viewed-content li a:hover, .popup ul.most-viewed-content li a:hover {
          text-decoration: none; }
          .popup ul.recently-viewed-content li a:hover p, .popup ul.most-viewed-content li a:hover p {
            color: #000; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .popup ul.recently-viewed-content li, .popup ul.most-viewed-content li {
          margin: 13px 0; } }
      @media (min-width: 1024px) {
        .popup ul.recently-viewed-content li, .popup ul.most-viewed-content li {
          margin: 13px 0; } }
      .popup ul.recently-viewed-content li .docs-title, .popup ul.most-viewed-content li .docs-title {
        color: #0095ff;
        margin-bottom: 2px; }
      .popup ul.recently-viewed-content li .docs-attr, .popup ul.most-viewed-content li .docs-attr {
        margin: 0; }
      .popup ul.recently-viewed-content li .docs-folder, .popup ul.most-viewed-content li .docs-folder {
        display: inline-block;
        margin-right: 4px;
        background: #ccc;
        color: #666;
        padding: 3px 4px;
        font-weight: 400;
        font-size: 12px;
        border-radius: 3px; }
        .popup ul.recently-viewed-content li .docs-folder:empty, .popup ul.most-viewed-content li .docs-folder:empty {
          display: none; }
      .popup ul.recently-viewed-content li .timestamp, .popup ul.most-viewed-content li .timestamp {
        font-size: 12px;
        color: #666; }
  .popup .fa-spinner {
    width: 100%;
    margin: 20px 0;
    font-size: 32px;
    text-align: center; }

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .image-wrapper .inner-wrapper {
    position: relative;
    width: min-content; }
    .image-wrapper .inner-wrapper .expand-image-btn {
      height: 60px;
      width: 60px;
      position: absolute;
      bottom: 30px;
      right: 10px;
      opacity: 0;
      transition: opacity 0.3s ease 0s;
      background-color: transparent;
      pointer-events: none;
      border: none; }
    .image-wrapper .inner-wrapper:hover .expand-image-btn {
      opacity: 1; }

.image-modal {
  display: none;
  position: fixed;
  z-index: 1000000090;
  /* search bar icon has z-index of 1*10 */
  inset: 0px;
  /* shorthand for top,right,bottom,left at the same time */
  overflow: hidden;
  background-color: white;
  /* full white allows images to pop */
  transition: display 0.2s ease 0s; }

.image-modal .img-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  padding: 30px; }
  .image-modal .img-wrapper .modal-image {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    cursor: default; }

.image-modal .close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 0.5px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: all 0.1s ease-in;
  padding: 0px; }
  .image-modal .close:hover, .image-modal .close:focus {
    background-color: #f9f9f9;
    border-color: lightgray; }

#main-search-page {
  background: #fff;
  padding: 85px 20px 3px 20px;
  min-height: calc(100vh - 88px); }
  @media (min-width: 768px) and (max-width: 1023px) {
    #main-search-page {
      padding: 85px 0px 3px 0px;
      min-height: calc(100vh - 88px); } }
  @media (min-width: 1024px) {
    #main-search-page {
      padding: 85px 0px 3px 0px;
      min-height: calc(100vh - 88px); } }
  #main-search-page .mid-center {
    max-width: 640px;
    margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #main-search-page .main-item {
      max-width: 600px;
      margin: 30px auto 0 auto; } }
  @media (min-width: 1024px) {
    #main-search-page .main-item {
      max-width: 600px;
      margin: 30px auto 0 auto; } }
  #main-search-page .main-item .branding {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px; }
    #main-search-page .main-item .branding .branding-heading {
      margin: 0; }
      #main-search-page .main-item .branding .branding-heading .logo {
        height: 26px;
        padding-top: 9px; }
        @media (min-width: 768px) and (max-width: 1023px) {
          #main-search-page .main-item .branding .branding-heading .logo {
            height: 36px; } }
        @media (min-width: 1024px) {
          #main-search-page .main-item .branding .branding-heading .logo {
            height: 36px; } }
    #main-search-page .main-item .branding .branding-label {
      margin: 0 0 0 15px;
      height: 21px;
      padding: 10px 0 10px 15px;
      border-left: 1px solid #000;
      color: #000;
      font-family: "Alfa Slab One", cursive;
      font-size: 28px;
      font-weight: 100;
      line-height: 21px;
      text-transform: none;
      vertical-align: top;
      -webkit-font-smoothing: antialiased; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #main-search-page .main-item .branding .branding-label {
          height: 30px;
          padding: 15px 0 9px 18px;
          font-size: 38px;
          line-height: 26px; } }
      @media (min-width: 1024px) {
        #main-search-page .main-item .branding .branding-label {
          height: 30px;
          padding: 15px 0 10px 20px;
          font-size: 38px;
          line-height: 26px; } }
      #main-search-page .main-item .branding .branding-label a:link, #main-search-page .main-item .branding .branding-label a:visited {
        color: #ccc; }
      #main-search-page .main-item .branding .branding-label a:hover {
        color: #0095ff;
        text-decoration: none; }
  #main-search-page .main-item .tagline {
    text-align: center;
    color: #8e8e8e;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 21px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #main-search-page .main-item .tagline {
        font-size: 15px;
        width: 100%;
        margin-bottom: 10vh; } }
    @media (min-width: 1024px) {
      #main-search-page .main-item .tagline {
        font-size: 15px;
        width: 100%;
        margin-bottom: 10vh; } }
  #main-search-page .main-item .search-topper {
    display: flex; }
  #main-search-page .main-item .search-container {
    clear: both;
    width: calc(100vw - 60px);
    padding: 0px 6px 0 0; }
    @media (min-width: 1024px) {
      #main-search-page .main-item .search-container {
        width: 586px; } }
    #main-search-page .main-item .search-container .twitter-typeahead {
      background: #e6e2e2; }
      #main-search-page .main-item .search-container .twitter-typeahead:hover, #main-search-page .main-item .search-container .twitter-typeahead:focus, #main-search-page .main-item .search-container .twitter-typeahead:active {
        background: #ebebeb; }
    #main-search-page .main-item .search-container .icon {
      height: 50px;
      width: 50px;
      font-size: 15pt;
      margin-left: -50px;
      opacity: 0.95;
      -webkit-transition: opacity .35s ease;
      -moz-transition: opacity .35s ease;
      -ms-transition: opacity .35s ease;
      -o-transition: opacity .35s ease;
      transition: opacity .35s ease; }
    #main-search-page .main-item .search-container:hover .icon:hover {
      background: #0095ff; }
  #main-search-page .main-item .additional-menus {
    justify-content: center;
    margin-top: 30px; }
    @media (min-width: 1024px) {
      #main-search-page .main-item .additional-menus {
        margin-top: 40px; } }
    #main-search-page .main-item .additional-menus.homepage {
      display: none; }
  #main-search-page .main-item .featured-cat {
    margin-top: 40px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #main-search-page .main-item .featured-cat {
        margin-top: 30px;
        display: flex; } }
    @media (min-width: 1024px) {
      #main-search-page .main-item .featured-cat {
        margin-top: 30px;
        display: flex; } }
    #main-search-page .main-item .featured-cat .cat-container {
      flex: 0 50%;
      margin-bottom: 40px; }
      #main-search-page .main-item .featured-cat .cat-container h3 {
        font-weight: normal;
        font-size: 14px;
        color: #8e8e8e;
        margin: 15px 0; }
        @media (min-width: 768px) and (max-width: 1023px) {
          #main-search-page .main-item .featured-cat .cat-container h3 {
            font-size: 15px; } }
        @media (min-width: 1024px) {
          #main-search-page .main-item .featured-cat .cat-container h3 {
            font-size: 15px; } }
      #main-search-page .main-item .featured-cat .cat-container ul {
        padding-left: 0;
        list-style-type: none; }
      #main-search-page .main-item .featured-cat .cat-container.style-button ul {
        margin-bottom: 25px; }
        #main-search-page .main-item .featured-cat .cat-container.style-button ul li {
          display: inline-block; }
          @media (min-width: 768px) and (max-width: 1023px) {
            #main-search-page .main-item .featured-cat .cat-container.style-button ul li {
              display: block; } }
          @media (min-width: 1024px) {
            #main-search-page .main-item .featured-cat .cat-container.style-button ul li {
              display: block; } }
      #main-search-page .main-item .featured-cat .cat-container.style-docs ul {
        padding-left: 7px; }
        #main-search-page .main-item .featured-cat .cat-container.style-docs ul a {
          color: #000;
          -webkit-font-smoothing: antialiased; }
        #main-search-page .main-item .featured-cat .cat-container.style-docs ul li {
          margin-bottom: 7px;
          position: relative; }
          #main-search-page .main-item .featured-cat .cat-container.style-docs ul li:last-of-type:before {
            display: none; }
          #main-search-page .main-item .featured-cat .cat-container.style-docs ul li .fa {
            color: #000;
            margin-right: 7px;
            font-size: 14px;
            line-height: 18px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #main-search-page .main-item--bottom {
      top: 20px;
      max-width: 100%;
      padding-bottom: 20px; } }
  @media (min-width: 1024px) {
    #main-search-page .main-item--bottom {
      top: 20px;
      max-width: 100%;
      padding-bottom: 20px; } }
  #main-search-page .main-item--bottom .help-text {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left; }
    #main-search-page .main-item--bottom .help-text a {
      color: #8e8e8e;
      border-bottom: 1px solid #8e8e8e;
      padding-bottom: 1px; }
      #main-search-page .main-item--bottom .help-text a:hover {
        color: #ccc;
        border-bottom: 1px solid #ccc;
        text-decoration: none; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #main-search-page .main-item--bottom .help-text {
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: center; } }
    @media (min-width: 1024px) {
      #main-search-page .main-item--bottom .help-text {
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: center; } }

#category-page {
  max-width: 90%; }
  #category-page .g-main-content {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    border-top: 0;
    justify-content: center; }
    #category-page .g-main-content .children-view {
      padding-left: 10px; }
      #category-page .g-main-content .children-view.hide {
        padding-left: 10px;
        max-height: 400px;
        overflow-y: hidden; }
    #category-page .g-main-content .seeMore-button {
      margin: 10px 0 0 0;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      background-color: white;
      border: 1px solid #404040;
      border-radius: 0;
      color: black;
      -webkit-box-shadow: 2.5px 2.5px 0px -1px #444;
      -moz-box-shadow: 2.5px 2.5px 0px -1px #444;
      box-shadow: 2.5px 2.5px 0px -1px #444;
      padding: 5px 12px;
      cursor: pointer; }
    #category-page .g-main-content .seeMore-button:hover {
      background-color: #ddd; }
    #category-page .g-main-content .children-container {
      overflow: visible;
      margin: 0 12px 30px 12px;
      padding: 25px;
      border: 1px solid #ddd;
      width: 100%;
      -webkit-box-shadow: -4px -4px 0px 0px #efefef;
      -moz-box-shadow: -4px -4px 0px 0px #efefef;
      box-shadow: -4px -4px 0px 0px #efefef; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #category-page .g-main-content .children-container {
          width: 40.9%; } }
      @media (min-width: 960px) and (max-width: 1023px) {
        #category-page .g-main-content .children-container {
          width: 34.9%; } }
      @media (min-width: 1024px) {
        #category-page .g-main-content .children-container {
          width: 25.4%; } }
      @media (min-width: 1600px) {
        #category-page .g-main-content .children-container {
          width: 18.4%; } }
      #category-page .g-main-content .children-container h3 {
        font-weight: 300;
        font-size: 24px;
        margin-top: 0;
        margin-left: -5px; }
      #category-page .g-main-content .children-container ol, #category-page .g-main-content .children-container ul {
        margin: 0;
        padding-left: 0px;
        column-count: 1;
        padding-left: 20px; }
        #category-page .g-main-content .children-container ol li, #category-page .g-main-content .children-container ul li {
          text-indent: 0;
          font-size: 16px;
          line-height: 1.6;
          padding-right: 0; }
          #category-page .g-main-content .children-container ol li a, #category-page .g-main-content .children-container ul li a {
            color: #000; }

.playlist-navigation {
  display: flex;
  justify-content: space-between; }

.g-upper-body {
  max-width: 600px;
  margin: 80px auto 30px auto;
  padding: 0 20px; }
  .g-upper-body .warning {
    margin-top: 10px;
    background-color: #ccc;
    color: #000;
    padding: 15px;
    font-size: 14px; }
  .g-upper-body h1.headline {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 200;
    color: #000;
    margin: 20px 0 5px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .g-upper-body h1.headline {
        font-size: 42px;
        line-height: 48px;
        margin: 40px 0 5px; } }
    @media (min-width: 1024px) {
      .g-upper-body h1.headline {
        font-size: 44px;
        line-height: 48px;
        margin: 40px 0 5px; } }
  .g-upper-body .kicker {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between; }
  .g-upper-body .attribution p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #999;
    margin: 0;
    line-height: 18px;
    font-weight: 400; }
    .g-upper-body .attribution p .author {
      font-weight: 500;
      color: #666; }
  .g-upper-body .tool {
    font-size: 13px;
    font-weight: 400; }
    .g-upper-body .tool a {
      color: #999;
      text-decoration: underline; }
      .g-upper-body .tool a .fa {
        margin-left: 5px;
        color: #999; }
    .g-upper-body .tool a:hover {
      color: #0095ff; }
      .g-upper-body .tool a:hover .fa {
        color: #0095ff; }

.g-body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px; }
  .g-body .g-left-panel {
    float: left;
    position: relative;
    top: 8px;
    width: 220px;
    font-weight: 300;
    padding: 10px 20px;
    display: none;
    height: 90.9%;
    overflow: auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .g-body .g-left-panel {
        display: none; } }
    @media (min-width: 1024px) {
      .g-body .g-left-panel {
        display: block;
        padding: 10px 0;
        width: 180px; } }
    @media (min-width: 1175px) {
      .g-body .g-left-panel {
        display: block;
        padding: 10px 20px;
        width: 220px; } }
    .g-body .g-left-panel.d-fixed {
      position: fixed;
      top: 50px; }
    .g-body .g-left-panel .section-kicker, .g-body .g-left-panel .sibling-kicker {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      text-transform: capitalize;
      color: #000;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 10px; }
    .g-body .g-left-panel .section-kicker {
      margin-top: 20px; }
    .g-body .g-left-panel .sibling-kicker {
      margin-top: 0; }
    .g-body .g-left-panel ul.section, .g-body .g-left-panel ul.sibling {
      list-style-type: none;
      margin: 0 0 20px 0;
      padding: 0; }
      .g-body .g-left-panel ul.section li, .g-body .g-left-panel ul.sibling li {
        display: block;
        font-size: 15px;
        line-height: 20px;
        text-indent: -4px;
        padding: 4px 0px;
        border-bottom: 0.5px solid #ddd;
        font-weight: 400; }
        .g-body .g-left-panel ul.section li:last-child, .g-body .g-left-panel ul.sibling li:last-child {
          border-bottom: none; }
        .g-body .g-left-panel ul.section li a,
        .g-body .g-left-panel ul.section li strong, .g-body .g-left-panel ul.sibling li a,
        .g-body .g-left-panel ul.sibling li strong {
          padding: 3px 5px;
          color: #333; }
        .g-body .g-left-panel ul.section li a:hover, .g-body .g-left-panel ul.sibling li a:hover {
          color: #0095ff; }
    .g-body .g-left-panel ul.sibling {
      list-style-type: none;
      margin: 40px 0 40px 0;
      padding: 20px;
      border: 1px solid #ddd;
      -webkit-box-shadow: -8px -8px 0px 0px #ececec;
      -moz-box-shadow: -8px -8px 0px 0px #ececec;
      box-shadow: -8px -8px 0px 0px #ececec; }
      .g-body .g-left-panel ul.sibling .foldericon {
        color: #444;
        margin-left: 8px;
        font-size: 14px; }
    .g-body .g-left-panel ul.subsection {
      padding: 0; }
      .g-body .g-left-panel ul.subsection li {
        margin-left: 17px;
        border-bottom: 0;
        text-indent: 3px; }
        .g-body .g-left-panel ul.subsection li:before {
          content: "";
          border-bottom: 1px solid #ccc;
          width: 10px;
          display: inline-block;
          vertical-align: middle;
          margin: 0 2px 0 -20px; }
  .g-body .g-main-content {
    border-top: 5px solid #ddd; }
  .g-body .playlist-navigation,
  .g-body .g-main-content {
    max-width: 600px;
    margin: 0px auto 0 auto;
    padding: 10px 0px;
    word-break: break-word;
    /* google output sometimes breaks <li>s across separate
       parent <ul>s, they apply margin:0 in default output
       so that they are visually contiguous */
    /* nested lists */ }
    .g-body .playlist-navigation table,
    .g-body .g-main-content table {
      word-break: keep-all; }
    .g-body .playlist-navigation p, .g-body .playlist-navigation ul, .g-body .playlist-navigation li, .g-body .playlist-navigation dt, .g-body .playlist-navigation dd,
    .g-body .g-main-content p,
    .g-body .g-main-content ul,
    .g-body .g-main-content li,
    .g-body .g-main-content dt,
    .g-body .g-main-content dd {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.4; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .g-body .playlist-navigation p, .g-body .playlist-navigation ul, .g-body .playlist-navigation li, .g-body .playlist-navigation dt, .g-body .playlist-navigation dd,
        .g-body .g-main-content p,
        .g-body .g-main-content ul,
        .g-body .g-main-content li,
        .g-body .g-main-content dt,
        .g-body .g-main-content dd {
          font-size: 1.125rem;
          line-height: 1.5; } }
      @media (min-width: 1024px) {
        .g-body .playlist-navigation p, .g-body .playlist-navigation ul, .g-body .playlist-navigation li, .g-body .playlist-navigation dt, .g-body .playlist-navigation dd,
        .g-body .g-main-content p,
        .g-body .g-main-content ul,
        .g-body .g-main-content li,
        .g-body .g-main-content dt,
        .g-body .g-main-content dd {
          font-size: 1.125rem;
          line-height: 1.5; } }
    .g-body .playlist-navigation > p,
    .g-body .g-main-content > p {
      margin: 0; }
      .g-body .playlist-navigation > p:first-of-type,
      .g-body .g-main-content > p:first-of-type {
        margin-top: 1em; }
      .g-body .playlist-navigation > p:empty,
      .g-body .g-main-content > p:empty {
        height: 1.125rem; }
    .g-body .playlist-navigation h1,
    .g-body .g-main-content h1 {
      font-size: 30px; }
    .g-body .playlist-navigation h2,
    .g-body .g-main-content h2 {
      font-weight: 400;
      font-size: 26px;
      line-height: 34px; }
    .g-body .playlist-navigation img,
    .g-body .g-main-content img {
      max-width: calc(100vw - 80px);
      border: 1px solid #ddd;
      padding: 10px;
      display: block;
      margin: 20px auto;
      cursor: pointer; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .g-body .playlist-navigation img,
        .g-body .g-main-content img {
          max-width: 580px; } }
      @media (min-width: 1024px) {
        .g-body .playlist-navigation img,
        .g-body .g-main-content img {
          max-width: 580px; } }
    .g-body .playlist-navigation ul, .g-body .playlist-navigation ol,
    .g-body .g-main-content ul,
    .g-body .g-main-content ol {
      margin: 0; }
      .g-body .playlist-navigation ul li, .g-body .playlist-navigation ol li,
      .g-body .g-main-content ul li,
      .g-body .g-main-content ol li {
        text-indent: -23px; }
        .g-body .playlist-navigation ul li:before, .g-body .playlist-navigation ol li:before,
        .g-body .g-main-content ul li:before,
        .g-body .g-main-content ol li:before {
          padding-right: 6px; }
    .g-body .playlist-navigation .children-container,
    .g-body .g-main-content .children-container {
      margin: 40px 0 40px 0;
      padding: 20px 0px 20px 40px;
      border: 1px solid #ddd;
      -webkit-box-shadow: -4px -4px 0px 0px #efefef;
      -moz-box-shadow: -4px -4px 0px 0px #efefef;
      box-shadow: -4px -4px 0px 0px #efefef;
      position: relative; }
      .g-body .playlist-navigation .children-container h3,
      .g-body .g-main-content .children-container h3 {
        margin: 0 0 20px -20px;
        font-weight: 600; }
    .g-body .playlist-navigation ul.children,
    .g-body .g-main-content ul.children {
      padding-left: 5px;
      list-style-type: none; }
      .g-body .playlist-navigation ul.children .foldericon,
      .g-body .g-main-content ul.children .foldericon {
        color: #444;
        margin-right: 7px;
        font-size: 14px;
        margin-left: -24px; }
      .g-body .playlist-navigation ul.children li,
      .g-body .g-main-content ul.children li {
        text-indent: 0;
        padding-right: 15px;
        font-size: 16px;
        line-height: 1.6;
        box-sizing: border-box; }
        .g-body .playlist-navigation ul.children li a,
        .g-body .g-main-content ul.children li a {
          color: #000; }
    .g-body .playlist-navigation ul.level-1 li, .g-body .playlist-navigation ol.level-1 li,
    .g-body .g-main-content ul.level-1 li,
    .g-body .g-main-content ol.level-1 li {
      margin-left: 40px; }
    .g-body .playlist-navigation ul.level-2 li, .g-body .playlist-navigation ol.level-2 li,
    .g-body .g-main-content ul.level-2 li,
    .g-body .g-main-content ol.level-2 li {
      margin-left: 60px; }
    .g-body .playlist-navigation ul.level-3 li, .g-body .playlist-navigation ol.level-3 li,
    .g-body .g-main-content ul.level-3 li,
    .g-body .g-main-content ol.level-3 li {
      margin-left: 80px; }
    .g-body .playlist-navigation code,
    .g-body .g-main-content code {
      background: #FCF6F6;
      color: #0068b3;
      padding: 1px 0px;
      margin: 0 4px;
      -webkit-box-shadow: 4px 0px 0px #FCF6F6, -4px 0px 0px #FCF6F6;
      -moz-box-shadow: 4px 0px 0px #FCF6F6, -4px 0px 0px #FCF6F6;
      box-shadow: 4px 0px 0px #FCF6F6, -4px 0px 0px #FCF6F6;
      -webkit-box-decoration-break: clone;
      -moz-box-decoration-break: clone;
      box-decoration-break: clone; }
    .g-body .playlist-navigation pre,
    .g-body .g-main-content pre {
      counter-reset: line-numbering;
      background: #FCF6F6;
      padding: 0px 0px 20px 0;
      width: 600px;
      text-indent: 0; }
      .g-body .playlist-navigation pre .line,
      .g-body .g-main-content pre .line {
        display: flex;
        margin: 0 0 1px; }
      .g-body .playlist-navigation pre .line-content,
      .g-body .g-main-content pre .line-content {
        flex: 1 auto; }
      .g-body .playlist-navigation pre .line-number::before,
      .g-body .g-main-content pre .line-number::before {
        content: counter(line-numbering);
        display: block;
        counter-increment: line-numbering;
        /* space after line numbers */
        padding-right: 1em;
        /* space before numbers */
        padding-left: 4px;
        width: 1.5em;
        text-align: right;
        opacity: 0.5;
        color: #aaa; }
      .g-body .playlist-navigation pre:before,
      .g-body .g-main-content pre:before {
        display: block;
        width: calc(100% - 10px);
        height: 20px;
        content: 'Code';
        background: #EEE9E9;
        color: #aaa;
        padding-left: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        line-height: 20px; }
      .g-body .playlist-navigation pre code,
      .g-body .g-main-content pre code {
        margin: 0;
        padding: 0;
        color: #000; }
  .g-body #g-search-page {
    padding: 0;
    margin: 0 auto;
    border-top: none; }
    .g-body #g-search-page h3.search-kicker {
      margin: 20px 0;
      font-weight: 600; }
    .g-body #g-search-page .search-result a.folder span {
      background: #f3f3f3;
      color: #666;
      padding: 3px 6px;
      font-weight: 400;
      font-size: 13px;
      border-radius: 3px; }
    .g-body #g-search-page .search-result a.folder:hover {
      text-decoration: none; }
      .g-body #g-search-page .search-result a.folder:hover span {
        background: #FCF6F6;
        color: #000; }
    .g-body #g-search-page .search-result .author {
      font-weight: 400; }
    .g-body #g-search-page .search-result p {
      font-size: 15px;
      margin: 0;
      line-height: 24px; }
      @media (min-width: 1024px) {
        .g-body #g-search-page .search-result p {
          line-height: 32px; } }
    .g-body #g-search-page .search-result h3 {
      font-weight: 400;
      margin: 20px 0 1px 0; }
  .g-body .g-footer {
    max-width: 600px;
    margin: 80px auto 60px auto;
    border-top: 1px solid #ccc;
    padding: 20px 0px; }
    .g-body .g-footer .button.btn-plaintext {
      float: right; }
    .g-body .g-footer p {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin-top: 30px; }
  .g-body .g-footer-shorter {
    margin: 60px auto; }

/*# sourceMappingURL=style.css.map */