<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'Find by category'}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: 'Find by category'}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div class="g-body">
      <p>Put some categories here.</p>

      <div class="g-footer g-footer-shorter">
        <!-- how do we do pagination here?? -->
        <button type="button" class="btn-footer"><a href="#">1</a></button>
        <button type="button" class="btn-footer"><a href="#">2</a></button>
        <button type="button" class="btn-plaintext"><a href="#">How do I use this site?</a></button>
      </div>
    </div>

  </body>
</html>
