<!DOCTYPE html>
<html>
  <body>
    <h1 class="visually-hidden">Default template</h1>
    <div class="g-body">
      <div class="g-left-panel">
        <%- include('../partials/playlistList') %>
      </div>
    </div>
  </body>
</html>
