<!DOCTYPE html>
<html>
  <%- include ../partials/head %>
  <body>
    Playlist

  <div class="g-main-content">
    <% if (locals.content) { %>
    <%- content %>
    <% } %>
  </div>
  
  </body>
</html>
