// Fonts
//------------------------------------------------------------------------------
// Font imports
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$font-branding: helvetica, arial, sans-serif;
$font-headline: helvetica, arial, sans-serif;

// Colors
//------------------------------------------------------------------------------
// Default Light Theme
$masthead-background: $gray-10;
$main-homepage-background: $white;
$main-homepage-icon-color: $black;
$main-homepage-icon-border: $black;
$main-page-text-color: $gray-35;
$main-page-btn-color: $gray-45;
$search-container-background: #e6e2e2;
$search-container-hover: $gray-70;
$btn-homepage-background: $white;
$btn-homepage-border: $black;
$btn-default-background: $white;
$btn-default-background-hover: $accent;
$btn-default-border: $black;
$btn-default-text-color: $black;
$btn-default-text-hover: $black;
$btn-user-initial: $gray-50;
$elem-link-color: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;
$nav-text-color: $gray-40;
