@use "vars";

// Fonts
//------------------------------------------------------------------------------
// Font imports
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$font-branding: 'Alfa Slab One', cursive;
$font-headline: 'Open Sans', sans-serif;
$font-sans: 'Open Sans', sans-serif;

// Colors
//------------------------------------------------------------------------------
// Default Light Theme
$masthead-background: vars.$gray-10;
$main-homepage-background: vars.$white;
$main-homepage-icon-color: vars.$black;
$main-homepage-icon-border: vars.$black;
$main-page-text-color: vars.$gray-35;
$main-page-btn-color: vars.$gray-45;
$search-container-background: #e6e2e2;
$search-container-hover: vars.$gray-70;
$btn-homepage-background: vars.$white;
$btn-homepage-border: vars.$black;
$btn-default-background: vars.$white;
$btn-default-background-hover: vars.$accent;
$btn-default-border: vars.$black;
$btn-default-text-color: vars.$black;
$btn-default-text-hover: vars.$black;
$btn-user-initial: vars.$gray-50;
$elem-link-color: vars.$gray-50;
$elem-active-link-color: vars.$gray-50;
$elem-link-accent: vars.$accent;
$nav-text-color: vars.$gray-40;
