@use "sass:color";

// Color
//------------------------------------------------------------------------------

$white        : #fff;
$black        : #000;
$gray-10      : #222;
$gray-20      : #333;
$gray-25      : #444;
$gray-30      : #666;
$gray-35      : #8e8e8e;
$gray-40      : #999;
$gray-45      : #aaa;
$gray-50      : #ccc;
$gray-55      : #8c8c8c;
$gray-60      : #ddd;
$gray-70      : #ebebeb;
$gray-80      : #f3f3f3;
$gray-90      : #f7f7f7;

$offwhite: #ececec;
$accent: #0095ff;
$accent-light: color.scale($accent, $lightness: 25%);
$accent-lightest: #FCF6F6;
$accent-dark: color.scale($accent, $lightness: -15%);
