// Color
//------------------------------------------------------------------------------
$white        : #fff;
$black        : #000;
$gray-10      : $white * 0.1;  // #1a1a1a
$gray-20      : $white * 0.2;  // #333
$gray-25      : $white * 0.25; // #404040
$gray-30      : $white * 0.3;  // #4d4d4d
$gray-35      : $white * 0.35; // #8c8c8c
$gray-40      : $white * 0.40; // #666
$gray-45      : $white * 0.45; // #737373
$gray-50      : $white * 0.5;  // #808080
$gray-55      : $white * 0.55; // #8c8c8c
$gray-60      : $white * 0.6;  // #999
$gray-70      : $white * 0.7;  // #b3b3b3
$gray-80      : $white * 0.8;  // #cccccc
$gray-90      : $white * 0.9;  // #e6e6e6

$offwhite: #ececec;
$accent: #E16D6D;
$accent-light: $accent * 1.4;
$accent-lightest: #FCF6F6;
$accent-dark: $accent * 0.85;
