<%
  const fileTypes = {
    'application/vnd.google-apps.document': {
      name: 'Google Docs',
      icon_class: 'fa-solid fa-file-lines'
    },
    'image/png': {
      name: 'PNG',
      icon_class: 'fa-solid fa-file-image'
    },
    'application/vnd.google-apps.presentation': {
      name: 'Google Slides',
      icon_class: 'fa-solid fa-file-powerpoint'
    },
    'application/vnd.google-apps.spreadsheet': {
      name: 'Google Sheets',
      icon_class: 'fa-solid fa-file-excel'
    },
    'image/svg+xml': {
      name: 'SVG',
      icon_class: 'fa-solid fa-file-image'
    },
    'application/pdf': {
      name: 'PDF',
      icon_class: 'fa-solid fa-file-pdf'
    },
    'application/vnd.google-apps.drawing': {
      name: 'Google Drawings',
      icon_class: 'fa-solid fa-file-image'
    },
    'application/vnd.google-apps.shortcut': {
      name: 'Google Apps Shortcut',
      icon_class: 'fa-solid fa-page-caret-up'
    },
    'application/vnd.openxmlformats-officedocument.presentationml.presentation': {
      name: 'PowerPoint',
      icon_class: 'fa-solid fa-file-powerpoint'
    },
    'video/mp4': {
      name: 'Video',
      icon_class: 'fa-solid fa-video'
    }
  };
%>
<% if (fileTypes[mimeType]) { %>
  <span>File Type: <i class="<%= fileTypes[mimeType].icon_class %>"></i> <%= fileTypes[mimeType].name %></span>
<% } %>
