<header id="masthead" class="masthead" role="banner">
  <div class="container">
    <%- include('../../../layouts/partials/branding') %>
    <%- include('breadcrumb') %>
    <%- include('../../../layouts/partials/userTools') %>
  </div>
</header>
