
// Top Banner
//------------------------------------------------------------------------------
.masthead {
  position: fixed;
  background: $masthead-background;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000000090;
  color: $main-homepage-icon-color;

  .container {
    position: relative;
    min-height: 49px;

    .branding {
      padding-top: 3px;
      margin-bottom: 0px;
      background: transparent;
      float: left;

      .branding-heading {
        margin-top: 9px;
        left: 20px;
        position: absolute;

        .logo {
          height: 23px;
          filter: invert(100%) brightness(80%);
          margin-left: -5px;
        }
      }

      .branding-label {
        margin: 5px auto auto 50px;
        display: inline-block;
        height: 28px;
        padding: 4px 0 0 15px;
        vertical-align: top;
        border-left: 1px solid rgba(255, 255, 255, 0.35);
        color: $main-homepage-text-color;
        font-family: $font-branding;
        font-size: 18px;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        font-weight: 100;
        line-height: 26px;

        a:link, a:visited {
          color: $gray-80;
        }
        a:hover {
          color: $accent;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    .user-tools {
      text-align: right;
      right: 10px;
      float: none;
      position: fixed;
      top: 9px;

      @include tablet{
        right: 20px;
      }
      @include desktop{
        right: 20px;
      }
    }
  }
}


// Breadcrumb
//------------------------------------------------------------------------------
.breadcrumb {
  padding-left: 8px;
  float: left;
  // padding-top: 1px;
  // display: inline-grid;
  margin: 15px 0;
  display: none;

  @include tablet{
    display: block;
  }
  @include desktop{
    display: block;
  }
}

.breadcrumb-item {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 17px;

  a:hover {
      text-decoration: underline;
      outline: 0;
  }

  a:visited {
      color: $accent;
  }

  a:link {
      text-decoration: none;
      color: $accent;
  }
}

// Search
//------------------------------------------------------------------------------
.search-container {
  vertical-align: middle;
  white-space: nowrap;

  @include tablet{
    width: calc(100% - 20px);
  }
  @include desktop{
    width: calc(100% - 20px);
  }

  #search-box {
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: $font-sans;
    background-color: transparent;
    transition: background-color 0.3s;
    display: inline-block;
    padding: 7px 10px;
    border: 1px solid $gray-40;
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: 5px 5px 0px 0px $gray-25;;
    -moz-box-shadow: 5px 5px 0px 0px $gray-25;;
    box-shadow: 5px 5px 0px 0px $gray-25;;
    color: $black;
    float: left;
    padding-left: 15px;
    width: calc(100% - 20px);
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background:  $accent-lightest;
    .icon {
      outline: none;
      opacity: 1;
    }
  }

  .icon{
    border: none;
    background: $accent;
    height: 46px;
    width: 50px;
    color: $white;
    opacity: 0;
    font-size: 12pt;
    cursor: pointer;
    margin-left: -50px;
    -webkit-transition: opacity .35s ease;
    -moz-transition: opacity .35s ease;
    -ms-transition: opacity .35s ease;
    -o-transition: opacity .35s ease;
    transition: opacity .35s ease;
  }

  &:hover {
    .icon:hover {
      background: $accent;
    }
  }

  input::-webkit-input-placeholder,
  input:-moz-placeholder,
  input:-ms-input-placeholder  {
    color: $gray-45;
  }
  input:focus::-webkit-input-placeholder,
  input:focus:-moz-placeholder,
  input:focus:-ms-input-placeholder  {
    opacity: 0
  }
}

.additional-menus {
  clear: both;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}


// User Tools
//------------------------------------------------------------------------------
#user-profile {
  a.btn-user-whole {
    &:link, &:visited {
      color: $main-homepage-icon-color;
      font-size: 15px;
      letter-spacing: 0.25px;
      padding: 17px 15px 16px 15px;
    }
    &:hover, &:active, &:target {
      text-decoration: none;
      background: $gray-30;

      button.btn-user-initial {
        background: $black;
        color: $gray-50;
        border-color: $gray-30;
      }
    }
  }

  .user-fullname {
    margin-right: 5px;
    display: none;

    @include tablet{
      display: inline-block;
    }
    @include desktop{
      display: inline-block;
    }
  }

  button.btn-user-initial {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: relative;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-indent: -1px;
    background: $gray-70;
    color: $gray-30;
    margin-right: 5px;
    line-height: 0px;
    text-align: center;
    border-color: $gray-80;
    padding: 0;
  }
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
	transition: opacity 100ms;
  visibility: hidden;
	opacity: 0;
  text-align: left;

  .cancel {
    position: fixed;
    width: 100vw;
    height: 100vh;
    cursor: default;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin-top: 40px;
	padding: 0 20px 5px 20px;
  background-image: linear-gradient(215deg, $white 0%, $offwhite 100%);
	border: 1px solid #d4d4d4;
	width: 260px;
  float: right;
	position: relative;

  @include tablet{
    width: 300px;
    padding: 20px;
  }
  @include desktop{
    width: 300px;
    padding: 20px;
  }

  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: $gray-30;
    &:hover {
      opacity: 1;
    }
  }

  h3 {
    margin: 10px auto 0px auto;
    color: $gray-20;
    border-bottom: 2px solid $gray-20;
    font-size: 16px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;

    @include tablet{
      margin: 10px auto;
      line-height: 32px;
    }
    @include desktop{
      margin: 10px auto;
      line-height: 32px;
    }
  }

  ul.recently-viewed-content, ul.most-viewed-content {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        color: $gray-20;

        &:hover {
          text-decoration: none;

          p {
            color: $black;
          }
        }
      }
      margin: 0px 0 5px 0;
      font-size: 15px;

      @include tablet{
        margin: 13px 0;
      }
      @include desktop{
        margin: 13px 0;
      }

      .docs-title {
        color: $accent;
        margin-bottom: 2px;
      }

      .docs-attr {
        margin:0;
      }
      .docs-folder {
        display: inline-block;
        margin-right: 4px;
        background: $gray-60;
        color: $gray-30;
        padding: 3px 4px;
        font-weight: 400;
        font-size: 12px;
        border-radius: 3px;

        &:empty {
          display: none;
        }
      }
      .timestamp {
        font-size: 12px;
        color: $gray-30;
      }
    }
  }

  .fa-spinner {
    width: 100%;
    margin: 20px 0;
    font-size: 32px;
    text-align: center;
  }
}
