// =Overrides

// override poor usage of z-index from upstream 
.masthead {
  z-index: 2;
}

.search-container .icon {
  z-index: 1;

  // Override original size so button does not overlap drop shadow
  height: 49px !important;
  width: 51px !important;
}

#me .fa-spinner.hide {
  display: none;
}

.button.btn-homepage {
  color: #000;
  margin: 10px 0 0 0;
  font-size: 14px;
  background-color: white;
  border: 1px solid #404040;
  border-radius: 0;
  color: black;
  box-shadow: 2.5px 2.5px 0px -1px $gray-25;
  padding: 5px 12px;
}

.button.btn-homepage:hover {
  color: #000;
  background-color: $gray-60;
  box-shadow: 2.5px 2.5px 0px -1px $gray-25;
}

#search-box {
  width: 100%;
}

// =General use

.wrapper {
  padding: 0 1rem;
}

.button.button-accent {
  background-color: #97d4ff !important;
}

.button.button-accent:hover {
  background-color: #0095ff !important;
}

// =Specific

#usefulness-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 1rem;
  background-color: $gray-70;
  > button {
    padding: .25rem .5rem;
    background-color: #fff;
    i {
      margin-right: .25rem;
    }
  }
}


.modal {
  display: none;
  &.active {
    display: flex;
  }
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 100%;

  .wrapper {
    position: relative;
    z-index: 3;
  }
}
.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5rem 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 0px 0px $gray-25;

  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  transform: scale(.9);
  opacity: 0;
  position: relative;
  top: -1rem;
  &.active {
    transform: scale(1);
    opacity: 1;
    top: 0rem;
  }
  
  @media screen and ( min-width:35rem ) {
    gap: 1rem;
    padding: 1rem 2rem;
  }

  .modalGraphic {
    height: 5rem;
    width: 5rem;
    min-width: 5rem;
    
    transition: .5s;
    @media screen and ( min-width:35rem ) {
      height: 8rem;
      width: 8rem;
    }
    
    background-image: url(/public/images/blocky-arms-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    background-color: #88caa6;
    border-radius: 50%;

    &.blocky-lookng-down {
      background-image: url(/public/images/blocky-looking-down.svg);
    }
  }

  header {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $gray-60;
    font-weight: bold;
    color: $green-primary;
  }
  footer {
    margin-top: 1rem;
  }
  input[type=radio] {
    margin-right: .25rem;
  }
}

.modal-close {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: none;
  border: none;
  text-indent: -1000rem; // hide from sighted users

  transition: all .1s ease-in 0s;
  background-color: rgba(0,0,0,0);
  &.active {
    background-color: rgba(0,0,0,.25);
  }
}

/* Search Filter */
.search-topper {
  flex-direction: column; 
  gap: 1rem; 
  align-items: center;
  display: flex;
}

.search-container {
  display: flex;
}

#filterTools {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  button {
    min-width: 8rem;
  }
}

.filetype-buttons {
  margin-top: -0.25rem;
  margin-bottom: 1.5rem;
}

.filetype-checkbox-container {
  display: flex; 
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.5rem;

  label {
    margin-left: 0.1rem;
  }

  .filetype-column {
    display: flex; 
    flex-direction: column;

    .header {
      font-weight: bold;
    }

    .checkbox-column {
      margin-top: 0.25rem;
      display: flex; 
      flex-direction: column; 
      margin-left: 1rem; 
      margin-bottom: 0.2rem;
      width: 10rem;
      gap: 0.08rem;
    }
  }
}

.additional-menus {
  margin-top: 0px;
}