#usefulness-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  max-width: 20rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: $gray-70;
  a {
    background-color: #fff;
    i {
      margin-right: .25rem;
    }
  }
}

// override poor usage of z-index from upstream 
.masthead {
  z-index: 1;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.25);
}
.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 5px 5px 0px 0px $gray-25;

  .modalGraphic {
    height: 10rem;
    width: 10rem;
    background-image: url(/assets/images/blocky-arms-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    background-color: #88caa6;
    border-radius: 50%;
  }

  header {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $gray-60;
    font-weight: bold;
    color: $green-primary;
  }
  footer {
    margin-top: 1rem;
  }
  input[type=radio] {
    margin-right: .25rem;
  }
}