<ul class="breadcrumb">
  <!-- <li class="breadcrumb-item">
    <a class="content-link" href="/">Home </a> ⇾
  </li> -->
<% parentLinks.forEach((link) => { %>
  <li class="breadcrumb-item">
    ⇾ <a class="content-link" href="<%- link.url %>" ><%= link.name %> </a>
  </li>
<% }) %>
  <li class="breadcrumb-item">
    ⇾ <%= title %>
  </li>
</ul>
