<% var style = locals.style === 'homepage' ? 'main-item main-item--bottom' : 'g-footer' %>
<div class="<%= style %>">
  <% if (locals.pager) { %>
    <% pager.forEach((page, i) => { %>
  <button type="button" class="btn-footer"><a href="<%- page.link %>"><%= i + 1 %></a></button>
    <% }) %>
  <% } %>
  <% if (locals.editLink) { %>
  <button type="button" class="btn-footer"><a href="<%- editLink %>">Edit This Page</a></button>
  <button type="button" class="btn-footer"><a href="#">Create New Page</a></button>
  <% } %>
  <button type="button" class="btn-plaintext"><a href="#">How do I use this site?</a></button>
</div>
