<header id="masthead" class="masthead" role="banner">
  <div class="container">
    <%- include branding %>
    <%- include breadcrumb %>
    <% if (!locals.inlineAssets) { %>
      <%- include userTools %>
    <% } %>
  </div>
</header>
