<header id="masthead" class="masthead" role="banner">
  <div class="container">
    <%- include('branding', {formatUrl}) %>
    <%- include('breadcrumb', {formatUrl}) %>
    <%- include('userTools', {formatUrl}) %>
  </div>
</header>
