<head>
  <meta charset="utf-8">
  <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">

  <% if (locals.inlineCSS) { %>
    <style type="text/css"><%- inlineCSS %></style>
  <% } else { %>
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="/assets/scripts/main.js" charset="utf-8"></script>
  <% } %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="<%- template('branding.favicon') %>" type="image/x-icon" />
</head>
