<div class="section-kicker">Table of Content:</div>
<ul class="section">
  <% sections.forEach((section) => { %>
    <li>
      <a href="<%- section.url %>" ><%= section.name %></a>
    </li>
  <% }) %>
</ul>
