<ul class="sibling">
  <div class="sibling-kicker">Related Docs</div>
  <% siblings.forEach((link) => { %>
    <% var type = link.nodeType === 'branch' ? 'folder' : 'file' %>
    <li class="type-<%= type %>">
      <a class="content-link" href="<%- link.url %>" ><%= link.name %></a>
      <!-- <a class="edit-link" href="<%- link.editLink %>">(edit)</a> -->
    </li>
  <% }) %>
</ul>
