<div class="user-tools">
  <div id="user-profile">
    <!--
    <a class="btn-user-whole" href="#me">
      <button class="button btn-user-initial">US</button>
      <span class="user-fullname">Umi Syam </span>

      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </a>
  </div>

  <div id="me" class="overlay">
  	<a class="cancel" href="#"></a>
  	<div class="popup">
      <a class="close" href="#">&times;</a>
      <h3>Recently Viewed</h3>
      <ul class="content">
        <li>
          <a href="#">
            <p class="docs-title">Double Byline Hack for Scoop Articles</p>
            <p class="docs-attr">
              <span class="docs-folder">Digital News Design</span>
              <span class="timestamp">(3 mins ago)</span>
            </p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="docs-title">Live Briefing: Training Guide</p>
            <p class="docs-attr">
              <span class="docs-folder">scoophelp</span>
              <span class="timestamp">(9 mins ago)</span>
            </p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="docs-title">What You Need to Know About Headlines (Graphics edition)</p>
            <p class="docs-attr">
              <span class="docs-folder">Graphics</span>
              <span class="timestamp">(17 mins ago)</span>
            </p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="docs-title">Debug Facebook and Twitter Posts</p>
            <p class="docs-attr">
              <span class="docs-folder">Newsroom Knowledge</span>
              <span class="timestamp">(39 mins ago)</span>
            </p>
          </a>
        </li>
      </ul>


      <h3>Most Viewed</h3>
      <ul class="content">
        <li>
          <a href="#">
            <p class="docs-title">Double Byline Hack for Scoop Articles</p>
            <p class="docs-attr">
              <span class="docs-folder">Digital News Design</span>
              <span class="timestamp">(3 mins ago)</span>
            </p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="docs-title">Live Briefing: Training Guide</p>
            <p class="docs-attr">
              <span class="docs-folder">scoophelp</span>
              <span class="timestamp">(9 mins ago)</span>
            </p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="docs-title">What You Need to Know About Headlines (Graphics edition)</p>
            <p class="docs-attr">
              <span class="docs-folder">Graphics</span>
              <span class="timestamp">(17 mins ago)</span>
            </p>
          </a>
        </li>
        <li>
          <a href="#">
            <p class="docs-title">Debug Facebook and Twitter Posts</p>
            <p class="docs-attr">
              <span class="docs-folder">Newsroom Knowledge</span>
              <span class="timestamp">(39 mins ago)</span>
            </p>
          </a>
        </li>
      </ul>
    </div>

  -->
	</div>
</div>
