<div class="user-tools">
  <div id="user-profile">
    <a class="btn-user-whole" href="#me">
<<<<<<< HEAD
      <button class="button btn-user-initial"></button>
=======
      <button class="button btn-user-initial">US</button>
>>>>>>> Sets username in header
      <span class="user-fullname"></span>

      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </a>
  </div>

  <div id="me" class="overlay">
  	<a class="cancel" href="#"></a>
  	<div class="popup">
      <a class="close" href="#">&times;</a>
      <h3>Recently Viewed</h3>
      <ul class="content"></ul>
<<<<<<< HEAD

      <h3>Most Viewed</h3>
      <ul class="content"></ul>
=======
        
      


      <h3>Most Viewed</h3>
>>>>>>> Removed filler content

    </div>

	</div>
</div>
