<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NYT Library</title>
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <script src="https://***REMOVED***" async></script>
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <header id="masthead" class="masthead" role="banner">
      <div class="container">

        <div class="user-tools">

        </div>
      </div>
    </header>

    <div id="main-search-page">
      <div class="main-item">

        <div class="branding">
          <h2 class="branding-heading">
            <a id="branding-heading-link" href="http://www.nytimes.com/">
              <span class="visually-hidden">The New York Times</span>
              <img src="/assets/images/nyt-T-logo.png" class="nyt-logo" alt="The New York Times">
            </a>
          </h2>
          <h3 class="branding-label"><a class="content-link" href="/">Library</a></h3>
        </div>
        <div class="tagline">
          <p>TK TK Your one stop search for navigating The Times internally.</p>
        </div>

        <form method="GET" action="/search" class="search-container">
          <input id="search-box" type="text" name="q" value="<%= locals.q %>" placeholder="What are you looking for?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'What are you looking for?'"/>
          <button class="icon"><i class="fa fa-search"></i></button>
        </form>

        <div class="additional-menus">
          <button type="button" class="button btn-homepage"><a href="#">Find by Category</a></button>
          <button type="button" class="button btn-homepage"><a href="#">Onboarding Guide</a></button>
        </div>
      </div>

      <div class="main-item main-item--bottom">
        <button type="button" class="btn-plaintext"><a href="#">How do I use this site?</a></button>
      </div>
    </div>



  </body>
</html>
