// Basic Styling
//------------------------------------------------------------------------------
body {
  font-family: $franklin;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;

  @include desktop {
    padding: 0;
  }
}

pre {
  white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $franklin;
  margin-top: 45px;
  margin-bottom: 20px;
}

a {
  color: $pink;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    outline: 0;
  }

}

// Tables
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem 0.5rem;
  text-align: left;
  border: 1px solid #ccc;
  p {
    margin: 0;
  }
}

// Buttons
button:focus {
  outline: 0;
}


.legibility {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}
.visually-hidden {
  display: none;
}



.button {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: $franklin;
  background-color: transparent;
  border-radius: 3px;
  transition: background-color 0.3s;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  color: #ccc;
  cursor: pointer;
  // -webkit-font-smoothing: antialiased;
}

.button.btn-cat {
  border: none;
  background: #000;
  border-radius: 0;
  margin: 5px 0;
  -webkit-font-smoothing: antialiased;

  &:hover {
    cursor: pointer;
    color: $pink;
    text-decoration: none;
  }
}

.button.btn-homepage {
  margin: 5px 0 7px 0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  background-color: #4D4D4D;
  border: none;
  border-radius: 0;
  color: #aaa;
  -webkit-box-shadow: 2.5px 2.5px 0px -1px $lighterpink;
  -moz-box-shadow: 2.5px 2.5px 0px -1px $lighterpink;
  box-shadow: 2.5px 2.5px 0px -1px $lighterpink;
  padding: 5px 12px;

  &:hover {
    background: $pink;
    color: #fff;
    -webkit-box-shadow: 3px 3px 0px 0px #4d4d4d;
    -moz-box-shadow: 3px 3px 0px 0px #4d4d4d;
    box-shadow: 3px 3px 0px 0px #4d4d4d;
  }
}

.button.btn-footer {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: $franklin;
  background-color: transparent;
  transition: background-color 0.3s;
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid #999;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 5px 5px 0px 0px #ececec;
  -moz-box-shadow: 5px 5px 0px 0px #ececec;
  box-shadow: 5px 5px 0px 0px #ececec;
  margin-right: 10px;
  color: #333;

  &:hover {
    background: #333;
    color: #fff;
  }
}

.button.btn-plaintext {
  border: none;
  text-decoration: underline;
  background: transparent;
  color: #999;
  font-size: 13px;
  line-height: 29px;

  &:hover {
    cursor: pointer;
    color: $pink;
  }
}
