
// Main Homepage
//------------------------------------------------------------------------------
#main-search-page {
  background: #222;
  padding: 85px 20px 3px 20px;
  min-height: calc(100vh - 88px);

  @include tablet{
    padding: 85px 0px 3px 0px;
    min-height: calc(100vh - 88px);
  }

  @include desktop{
    padding: 85px 0px 3px 0px;
    min-height: calc(100vh - 88px);
  }

  .mid-center {
    max-width: 640px;
    margin: 0 auto;
  }

  .main-item {

    @include tablet{
      max-width: 600px;
      margin: 30px auto 0 auto;
    }

    @include desktop{
      max-width: 600px;
      margin: 30px auto 0 auto;
    }

    .branding {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 20px;

      .branding-heading {
        margin: 0;

        .nyt-logo {
          height: 26px;
          filter: invert(100%) brightness(80%);
          padding-top: 7px;

          @include tablet{
            height: 36px;
          }

          @include desktop{
            height: 36px;
          }
        }
      }

      .branding-label {
        margin: 0 0 0 15px;
        height: 21px;
        padding: 13px 0 9px 18px;
        vertical-align: top;
        border-left: 1px solid rgba(255, 255, 255, 0.35);
        color: #ccc;
        font-family: $karnak;
        font-size: 28px;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        font-weight: 100;
        line-height: 21px;

        @include tablet{
          height: 30px;
          padding: 15px 0 9px 18px;
          font-size: 38px;
          line-height: 26px;
        }

        @include desktop{
          height: 30px;
          padding: 15px 0 9px 18px;
          font-size: 38px;
          line-height: 26px;
        }

        a:link, a:visited {
          color: #ccc;
        }
        a:hover {
          color: $pink;
          text-decoration: none;
        }
      }
    }

    .tagline {
      text-align: center;
      color: #8E8E8E;
      margin: 0 auto;
      margin-bottom: 60px;
      font-size: 14px;
      line-height: 21px;
      // width: 90%;

      @include tablet {
        font-size: 15px;
    		width: 100%;
        margin-bottom: 10vh;
    	}

      @include desktop {
        font-size: 15px;
        width: 100%;
        margin-bottom: 10vh;
    	}
    }

    .search-container {
      clear: both;
      // width: calc(100vw - 60px);
      background: #e6e2e2;
      padding: 0px 6px 0 0;

      @include tablet{
    		// width: calc(100vw - 140px);
    	}
    	@include desktop{
    		width: 586px;
    	}

      #search-box {
        font-size: 18px;
        line-height: 30px;
        float: none;
        border: 0;
        box-shadow: none;

        @include tablet{
          width: calc(100% - 20px);
          box-shadow: 6px 6px 0px 0px #4d4d4d;
          line-height: 37px;
        }
        @include desktop{
          width: calc(100% - 20px);
          box-shadow: 6px 6px 0px 0px #4d4d4d;
          line-height: 37px;
        }
      }

      &:hover,
      &:focus,
      &:active {
        background: #fff;
        .icon {
          opacity: 1;
        }
      }

      .icon{
        height: 51px;
        width: 55px;
        font-size: 15pt;
        margin-left: -59px;
        opacity: 0.95;
        -webkit-transition: opacity .35s ease;
        -moz-transition: opacity .35s ease;
        -ms-transition: opacity .35s ease;
        -o-transition: opacity .35s ease;
        transition: opacity .35s ease;
      }

      &:hover {
        .icon:hover {
          background: $pink;
        }
      }
    }

    .additional-menus {
      justify-content: center;
      margin-top: 30px;

      @include desktop{
    		margin-top: 40px;
    	}

      &.homepage{
        display: none;
      }
      // button:first-child {
      //   margin-right: 30px;
      // }
    }

    .featured-cat {
      margin-top: 40px;

      @include tablet{
    		margin-top: 30px;
        display: flex;
    	}
      @include desktop{
    		margin-top: 30px;
        display: flex;
    	}

      .featured-cat-container,
      .teams-cat-container {
        flex: 0 50%;
        // margin-top: -7px;
        margin-bottom: 40px;

        h3 {
          font-weight: normal;
          font-size: 14px;
          color: #8e8e8e;
          margin: 15px 0;

          @include tablet{
            font-size: 15px;
          }
          @include desktop{
            font-size: 15px;
          }
        }
        // li {
        //   display: block;
        // }
        ul {
          padding-left: 0;
          list-style-type: none;
        }

      }

      .teams-cat-container {
        ul {
          margin-top: -10px;
          margin-bottom: 25px;

          li {
            display: inline-block;

            @include tablet{
          		display: block;
          	}
            @include desktop{
          		display: block;
          	}
          }
        }
      }

      .featured-cat-list {
        padding-left: 7px;
        a {
          color: #ccc;
          -webkit-font-smoothing: antialiased;
        }
        li {
          padding-left: 10px;
          margin-bottom: 7px;
          position: relative;

          &:before {
            content: '-';
            color: #ccc;
            left: 0;
            position: absolute;
          }

          &:last-of-type {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  .main-item--bottom {

    @include tablet{
      top: 20px;
      max-width: 100%;
      padding-bottom: 20px;
    }
    @include desktop{
      top: 20px;
      max-width: 100%;
      padding-bottom: 20px;
    }

    .help-text {
      color: #8E8E8E;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0;
      text-align: left;

      a {
        color: #ccc;
        border-bottom: 1px solid #8e8e8e;
        padding-bottom: 1px;
      }

      @include tablet{
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: center;
      }
      @include desktop{
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: center;
      }
    }
  }
}


// Categories Homepage
//------------------------------------------------------------------------------
#category-page {
  .g-main-content {
    max-width: 1024px;
    display: flex;
    flex-flow: row wrap;
    border-top: 0;
    justify-content: flex-start;

    .children-container {
      margin: 0 12px 30px 12px;
      padding: 25px;
      border: 1px solid #ddd;
      width: 100%;
      -webkit-box-shadow: -4px -4px 0px 0px rgba(239,239,239,1);
      -moz-box-shadow: -4px -4px 0px 0px rgba(239,239,239,1);
      box-shadow: -4px -4px 0px 0px rgba(239,239,239,1);

      @include tablet {
        width: 40.9%;
      }
      @include desktop {
        width: 25.4%;
      }

      h3 {
        font-weight: 300;
        font-size: 24px;
        margin-top: 0;
        margin-left: -5px;
      }

      ol,ul {
        margin: 0;
        padding-left: 0px;
        column-count: 1;
        padding-left: 20px;

        li {
          text-indent: 0;
          font-size: 16px;
          line-height: 1.6;
          padding-right: 0;

          a {
            color: #000;
          }
        }
      }
    }
  }
}
