
// Font imports
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

// Colors
// Classic Dark Theme
$masthead-background: $gray-25;
$main-homepage-background: $gray-10;
$main-homepage-text-color: $gray-50;
$main-homepage-icon-color: $gray-45;
$search-container-background: #e6e2e2;
$search-container-hover: $white;
$btn-homepage-background: $gray-25;
$btn-homepage-border: $gray-25;
$btn-default-background: $black;
$btn-default-background-hover: $black;
$btn-default-border: $black;
$btn-default-text-color: $gray-50;
$btn-default-text-hover: $accent;

.logo {
  filter: invert(100%);
}

