// Fonts
//------------------------------------------------------------------------------
$franklin: "nyt-franklin", arial, helvetica, sans-serif;
$chelt: "nyt-cheltenham", georgia, "times new roman", times, serif;
$chelt-sh: "nyt-cheltenham-sh", georgia, "times new roman", times, serif;
$georgia: georgia, "times new roman", times, serif;
$mag-slab: "nyt-mag-slab", georgia, "times new roman", times, serif;
$mag-sans: "nyt-mag-sans", arial, helvetica, sans-serif;
$mag-serif-headline: "nyt-mag-serif-headline", georgia, helvetica, sans-serif;
$stymie: "nyt-stymie",georgia,"times new roman",times,serif;
$karnak: "nyt-karnak-display-130124",arial,sans-serif;

// Color
//------------------------------------------------------------------------------
$pink: #E16D6D;
$lighterpink: #F09898;
$lightestpink: #FCF6F6;
$darkpink: #ab2d2d;
$blue: #326891;
