// Fonts
//------------------------------------------------------------------------------
$franklin: "nyt-franklin", arial, helvetica, sans-serif;
$chelt: "nyt-cheltenham", georgia, "times new roman", times, serif;
$chelt-sh: "nyt-cheltenham-sh", georgia, "times new roman", times, serif;
$georgia: georgia, "times new roman", times, serif;
$mag-slab: "nyt-mag-slab", georgia, "times new roman", times, serif;
$mag-sans: "nyt-mag-sans", arial, helvetica, sans-serif;
$mag-serif-headline: "nyt-mag-serif-headline", georgia, helvetica, sans-serif;
$stymie: "nyt-stymie",georgia,"times new roman",times,serif;
$karnak: "nyt-karnak-display-130124",arial,sans-serif;

.legibility {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}
.visually-hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $franklin;
  margin-top: 45px;
  margin-bottom: -10px;
}

body {
  font-family: $franklin;
  font-weight: 100;
}

a:hover {
    text-decoration: underline;
    outline: 0;
}

a:visited {
    color: #326891;
}

a:link {
    text-decoration: none;
    color: #326891;
}

.button {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: $franklin;
  background-color: transparent;
  border-radius: 3px;
  transition: background-color 0.3s;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  color: #ccc;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

// Top Banner
//------------------------------------------------------------------------------
.masthead {
  position: fixed;
  background: #444;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000090;
  color: #ccc;

  .container {
    position: relative;
    min-height: 47px;

    .branding {
      padding-top: 5px;
      margin-bottom: 10px;
      background: transparent;
      float: left;

      .branding-heading {
        margin-top: 8px;
        left: 20px;
        position: absolute;

        .nyt-logo {
          height: 25px;
          filter: invert(100%) brightness(80%);
        }
      }

      .branding-label {
        margin: 5px auto auto 50px;
        display: inline-block;
        height: 30px;
        padding: 4px 0 0 15px;
        vertical-align: top;
        border-left: 1px solid rgba(255, 255, 255, 0.35);
        color: #ccc;
        font-family: $karnak;
        font-size: 18px;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        font-weight: 100;
        line-height: 26px;
      }
    }

    .user-tools {
      right: 20px;
      float: none;
      position: fixed;
      top: 10px;

      // About modal
      .modalbox {
        display: none;
        position: absolute;
        top: 55px;
        right: -35px;
        width: 270px;
        height: 120px;
        border: 1px solid #cdcdcd;
        z-index: 10000000145;
        background: #ddd;

        // .viewport-medium-10 & {
        //   right: 20px;
        // }

        &.active {
          display: block;
        }

        &:after {
          content: "\25B2";
          color: #ddd;
          cursor: pointer;
          font-size: 22px;
          line-height: 1em;
          position: absolute;
          right: 45px;
          margin-right: 10px;
          top: -16px;
          z-index: 0;
          display: inline-block;
          -webkit-transform: scale(1.5, 1);
          transform: scale(1.5, 0.8);
          text-shadow: 0px -1px 0px #cdcdcd;

          // .viewport-medium-10 & {
          //   right: 5px;
          // }
        }
      }

      .modalbox-wrapper {
        display: block;
        width: auto;
        height: 100%;
        vertical-align: middle;
        padding: 0 10px;
      }

      figcaption.modalbox-content {
        padding: 20px 10px;
        font-family: $franklin;
        font-size: 14px;
        line-height: 18px;
        -webkit-font-smoothing: antialiased;
        color: #333;
        z-index: 1000;
        position: relative;
      }

      .modalbox-close {
        display: block;
        margin: auto;
        height: 0;
        overflow: visible;
        text-align: right;
        z-index: 10;
        cursor: default;

        &:before {
          content: "";
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
      }

      // .modalbox-close,
      // .modalbox-content {
      //   max-width: 500px;
      //   margin: 0 auto;
      // }

    }



  }
}


// Breadcrumb
//------------------------------------------------------------------------------
.breadcrumb {
  padding-left: 20px;
  float: left;
}

.breadcrumb-item {
  display: inline-block;


  a:hover {
      text-decoration: underline;
      outline: 0;
  }

  a:visited {
      color: #F09898;
  }

  a:link {
      text-decoration: none;
      color: #F09898;
  }
}

// Upper Body
//------------------------------------------------------------------------------
.g-upper-body {
  max-width: 600px;
  margin: 80px auto 30px auto;

  h1.headline {
    font-family: $chelt;
    font-size: 44px;
    line-height: 44px;
    font-weight: 200;
    color: #000;
    margin: 120px 0 10px;
  }

  .kicker {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
  }

  .attribution {
    p {
      font-family: $franklin;
      font-size: 14px;
      color: #999;
      margin: 0;
      line-height: 18px;

      .author {
        text-transform: uppercase;
      }

      &:last-child {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}


// Body
//------------------------------------------------------------------------------
.g-body {
  max-width: 1280px;
  margin: 0 auto;

  .g-left-panel {
    float: left;
    position: relative;
    top: 40px;
    width: 220px;
    font-weight: 300;
    padding: 20px;

    .section-kicker, .sibling-kicker {
      font-family: $franklin;
      font-weight: 600;
      text-transform: capitalize;
      color: #000;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    ul.section, ul.sibling {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        font-size: 15px;
        line-height: 20px;
        text-indent: -4px;
        padding: 5px 0px;
        border-bottom: 0.5px solid #ddd;

        &:last-child {
          border-bottom: none;
        }

        a {
          padding: 3px 5px;
          color: #333;
          
          &:hover {
            color: #E16D6D;
          }
        }
      }
    }

    ul.sibling {
      list-style-type: none;
      margin: 20px 0 0 0;
      padding: 20px;
      border: 1px solid #ddd;
      -webkit-box-shadow: -8px -8px 0px 0px rgba(236,236,236,1);
      -moz-box-shadow: -8px -8px 0px 0px rgba(236,236,236,1);
      box-shadow: -8px -8px 0px 0px rgba(236,236,236,1);
    }

    &.d-fixed {
      position: fixed;
      top: 150px;
    }
  }

  .g-main-content {
    max-width: 600px;
    margin: 20px auto 0 auto;
    border-top: 5px solid #ddd;
    padding: 0 40px;

    p, ul, li, dt, dd {
      font-family: $franklin;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.5;
    }

    h1 {
      font-size: 30px;
      margin-bottom: 0px;
    }

    h2 {
      font-weight: 400;
      font-size: 26px;
    }
  }

  .g-footer {
    max-width: 600px;
    margin: 80px auto 100px auto;
  }
}
